<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="myPerson" class="com.example.labwork1.Person">
        <constructor-arg index="0" ref="myPet"/>
        <constructor-arg index="1" ref="myCar"/>
        <constructor-arg index="2" type="int" name="age" value="21"/>
        <constructor-arg index="3" type="java.lang.String" name="name" value="Walter"/>
    </bean>

    <bean id="myPet" class="com.example.labwork1.Owl">
    </bean>

    <bean id="myCar" class="com.example.labwork1.Car">
    </bean>
</beans>
